nav {
    float:left; 
}
.nav-container {
    width:80px; 
    margin: 0 auto; 
    background-color:red; 
}

.nav-ul {
    margin:0; 
    padding:0; 
    list-style:none; 
}

.nav-li {
    display:inline-block; 
}

a {color: black;
}
.body-text {
    font-family:lato;
}

img {
    width:150px; 
}

h2 {
    border-top: 1px solid grey;
}
.Product-specialist-title,.Service-Desk-title,.Heinrich-Böll-title, 
.Czech-Helsinki-title, .Wall-Street-English-title {
    font-weight:bold;
    padding-bottom: 5px;
}

.Beetroot-title,.Lund-university-title,.University-Edinburgh-title,.University-Bologna-title {
    font-weight:bold; 
    padding-bottom: 5px; 
}

.language-title {
    margin-left:20px;
    margin-bottom:0px; 
}
.languages-box {
    display:inline-block;
    background-color: #E0DDCF; 
    float:left;
    width:25%;
    min-height: 170px;  
    margin:10px;
}

.IT-title {
    margin-left:20px;
    margin-bottom:0px; 
}

.IT-box {
    display:inline-block; 
    background-color: #E9B44C;
    float:center;
    width:25%;
    min-height: 170px; 
    margin:10px;
}