header {
    background-color: #E9B44C; 
}

nav {
    list-style-type:none; 
    padding:0; 
    margin: 0;
    line-height: 25px;
 }

 nav li{
     list-style-type:none; 
     display:inline-block; 
     margin-left: 50px; 
     padding-top: 23px; 
 }

 nav a{
     text-transform:uppercase; 
 }

a {
    color: black;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

.body-text {
    font-family:lato light;
}

img {
    width:150px; 
}

h2 {
    border-top: 1px solid grey;
}
.Product-specialist-title,.Service-Desk-title,.Heinrich-Böll-title, 
.Czech-Helsinki-title, .Wall-Street-English-title {
    font-weight:bold;
    padding-bottom: 5px;
}

.Beetroot-title,.Lund-university-title,.University-Edinburgh-title,.University-Bologna-title {
    font-weight:bold; 
    padding-bottom: 5px; 
}

.language-title {
    margin-left:20px;
    margin-bottom:0px; 
}
.languages-box {
    display:inline-block;
    background-color: #E0DDCF; 
    float:left;
    width:25%;
    min-height: 170px;  
    margin:10px;
}

.IT-title {
    margin-left:20px;
    margin-bottom:0px; 
}

.IT-box {
    display:inline-block; 
    background-color: #E9B44C;
    float:center;
    width:25%;
    min-height: 170px; 
    margin:10px;
}